/*
* @Author: Administrator
* @Date:   2018-08-11 15:31:11
* @Last Modified by:   Administrator
* @Last Modified time: 2018-08-14 19:16:25
*/
/* react.css部分 */
	body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{ margin:0; padding:0; }
	body { background:#fff; color:#555; font-size:14px; font-family: "微软雅黑", Arial, Helvetica, sans-serif; }
	td,th,caption { font-size:14px; }
	h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
	address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
	a { text-decoration:none; }
	a:hover { text-decoration:none; }
	img { border:none; }
	ol,ul,li { list-style:none; }
	input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
	table { border-collapse:collapse; }
	html {overflow-y: scroll;}
	.clearfix:after {content: " "; display: block; clear:both; }
	.clearBox{clear:both;}
	.father{visibility: hidden;}
	.left{float:left;}
	.right{float:right;}
	.autoW{width:1000px;
		margin:0 auto;}
	a{color:#5E5E5E;}
	.jz{text-align: center;}


/* 重用头部样式 设置*/
	
	/* 头部共用部分内容 */
	/*  <!-- 最顶上 --> */
		.cy_header_top{
			width:100%;
			height:36px;
			background-color: #353535;
		}
		.cy_header_top .left ul li{
			float:left;
			line-height: 36px;
			padding:0px 4px;
		}
		.cy_header_top .left ul li a{
			color:#fff;
		}
		.cy_header_top .left ul li:first-child>a>img{
			margin-top:4px;
		}
		.cy_header_top .left ul li:nth-child(2){
			margin-top: -4px;
			margin-left:4px;
			margin-right:8px;
		}
		.cy_header_top .left ul li:nth-child(4){
			font-size: 16px;
			font-weight: bold;
			color:#fff;
			line-height: 36px;
			margin-top:-2px;
		}
		.cy_header_top .right ul li{
			float:left;
			line-height: 36px;	
		}
		.cy_header_top .right ul li a{
			color:#fff;
		}
		.cy_header_top .right ul li a>img{
			margin-top:9px;
			margin-left:10px;
		}
		.cy_header_top .right ul li>img{
			margin-top:9px;
			margin-left:10px;
		}
		.cy_header_top .right ul li>a{
			line-height: 36px;
			float:right;
			margin-left:4px;
		}
		.cy_header_top .right ul li:nth-child(2){
			color:#fff;
			margin-left:8px; 
		}
	/* <!-- 中部搜索区 -->*/
		.cy_header_center>.left {
			height:95px;
			margin-top:20px;
			margin-left:-370px;
		}
		.cy_header_center .right{
			margin-top:54px;
			margin-bottom: 23px;

		}
		.cy_header_center .right>.left{
			width:110px;
			height:40px;
		}
		.cy_header_center .right>div.left{
			border:1px solid #848484;
			border-right: 0px;

		}
		.cy_header_center .right>div.left span{
			float:left;
			margin:10px;
			color:#706E6E;
		}
		.cy_header_center .right>div.left  a{
			float:right;
			margin:10px;
			margin-right:10px;
		}
		.cy_header_center .right>input:nth-child(2){
			border:1px solid #848484;
			width:236px;
			height:40px;
			float:left;
		}
		.cy_header_center .right>input:nth-child(2){
			color:#626060;
			text-indent: 10px;
		}
		.cy_header_center .right>a:nth-child(3){
			float:left;
			width:60px;
			height:40px;
			border:1px solid #848484;
		}
		.cy_header_center .right>a:nth-child(3)>img{
			display: block;
			margin-top:7px;
			margin-left:10px;
		}
	/* 中部导航条 */
		.cy_header_footer{
			width:100%;
			background-color: #0b7722;

		}
		.cy_header_footer>.autoW{
			height:42px;
		}
		.cy_header_footer>.autoW ul li{
			float:left;
			line-height: 42px;
			padding:0px 40px;
		}
		.cy_header_footer>.autoW ul li a{
			color:#fff;
			font-size:16px;
		}
		.cy_header_footer>.autoW ul li:first-child{
			background-color: orange;
			border-top:2px solid #D30F0F;
		}
	/* banner区 */
		.cy_header_banner .left{
			margin-top:20px;
			margin-left: -108px;
		}
		.cy_header_banner .left .tg{
			width:700px;
			height:20px;
			border:1px solid #9C9C9C;
		}
		.cy_header_banner .left .tg img,.cy_header_banner .left .tg h4,.cy_header_banner .left .tg a{
			float:left;
		}
		.cy_header_banner .left .banner{
			width:700px;
			height:305px;
			margin-top:20px;
		}
		.cy_header_banner .left .banner img{
			width:700px;
			height:305px;
		}
		.cy_header_banner .right{
			width:270px;

		}
		.cy_header_banner .right ul{
			margin-top:20px;
		}
		.cy_header_banner .right ul li{
			float:left;
			margin-left:10px;
			margin-bottom:14px;
		}
		.cy_header_banner .right ul li a img{
			width:120px;
		}

/* 关于我们和用户注册底部重用样式设置 */
	.cy_footer{
		width:100%;
		background-color:#353535;
		padding-top:30px;
		padding-bottom: 88px;
		margin-top:50px;
		font-size: 12px;
	}
	.cy_footer .autoW .top ul>li{
		float:left;
		line-height: 30px;
		color:#fff;
		margin-left:10px;
	}
	.cy_footer .autoW .top ul li a{
		color:#fff;	
		font-size: 12px;
	}
	.cy_footer .autoW .center{
		color:#fff;
	}
	.cy_footer .autoW .center .right ul li{
		float:left;
	}
	.cy_footer .autoW .center .right ul li a{
		display: inline-block;
		width:50px;
		font-size: 12px;
		color:#fff;
		margin-left:8px;
		margin-right:4px;
	}
	.cy_footer .autoW .center .right ul li img{
		width:40px;
	}